@media (max-width: 1220px){
    .contact form div{
        width: 345px;
    }
    .contact form input[type="submit"]{
        left: 205px;
    }
}


@media (max-width: 1204px){
    .contact form div {
        width: 320px;
    }
    .contact form input[type="submit"]{
        left: 180px;
    }
    .about-info {
        margin-left: 90px;
    }
    .teams__item {
        width: 20%;
    }
    .services__item {
        width: 19.5%;
    }
    .works__item {
        width: 20%;
    }
}

@media (max-width: 1130px){
    .contact form div{
        width: 290px;
    }
    .contact form input[type="submit"]{
        left: 145px;
    }
}

@media (max-width: 1070px){
    .contact form div{
        width: 245px;
    }
    .contact form input[type="submit"]{
        left: 95px;
    }
}

@media (max-width: 992px){
    .about-info {
        margin-left: 45px;
        max-width: 345px;
    }
    .about-info__descr {
        margin-bottom: 20px;
    }
    .about-info h1{
        line-height: 50px;
    }
    .teams__item {
        width: 19%;
    }
    .service-info__descr{
        max-width: 930px;
    }
    .services__item{
        width: 17.5%;
    }
    .service__inner {
        left: 35%;
    }
    .teams__item {
        vertical-align: top;
    }
    .team__inner {
        left: 40%;
    }
    .client__inner {
        left: 25%;
    }
    .work__inner{
        left: 20%;
    }
    .work-info__descr{
        max-width: 930px;
        margin-bottom: 30px;
    }
    .works__item{
        width: 20%;
    }
    .about-images__box img {
        width: 500px;
        height: 350px;
        padding-left: 15px;
    }
    .testimonial__inner {
        left: 19%;
    }
    .contact__inner{
        left: 36%;
    }
    .contact form div {
        width: 250px;
        margin-left: 20px;
    }
    .contact-info__descr {
        margin-bottom: 50px;
    }
    .contact form div textarea{
        height: 170px;
        margin-top: 10px;
        width: 525px;
    }
    .contact form input[type="submit"]{
        left: 102px;
    }
}

@media (max-width: 974px){
    .contact form div{
        width: 220px;
    }
    .contact form input[type="submit"]{
        left: 70px;
    }
    .contact form div textarea{
        width: 465px;
    }
    .menu__list li{
        margin-left: 0;
    }
    .menu__list{
        display: none;
        position: absolute;
        top: 115px;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fcac45; 
        z-index: 5;
        border-top: 1px solid #000;
    }
    .menu__list a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #000;
       
    }

    .menu__btn{
        width: 30px;
        height: 30px;
        position: relative;
    }
    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 15px;
        position: absolute;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
    }
    .menu__btn::after{
        top: 0;
    }
    .menu__btn::before{
        bottom: 0;
    }
}

@media (max-width: 915px){
    .contact-info__descr {
        margin-left: 100px;
        margin-right: 100px;
    }
    .contact form {
        padding-left: 100px;
        padding-right: 100px;
    }
    .about-info {
        margin-left: 30px;
    }
}

@media (max-width: 816px){
    .teams__item {
        width: 18%;
    }
    .about-images__box img {
        width: 400px;
        height: 330px;
        padding-left: 0;
    }
    .service__inner {
        left: 32%;
    }
    .client__inner {
        left: 20%;
    }
    .work__inner {
        left: 13%;
    }
    .testimonial__inner {
        left: 13%;
    }
    .contact__inner {
        left: 33%;
    }
    .works__item {
        width: 27%;
    }
}

@media (max-width: 726px){
    .top {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    .about {
        padding-top: 100px;
    }
    .team {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .service {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .client {
        padding-top: 70px;
        padding-bottom: 150px;
    }
    .work {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .testimonial {
        padding-top: 70px;
        padding-bottom: 120px;
    }
    .contact {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .services__item {
        width: 15.5%;
    }
    .teams__item {
        width: 17%;
        margin-left: 40px;
    }
}

@media (max-width: 717px){
    .top-info__list li {
        left: 275px;
    }
    .about-images__box img {
        width: 330px;
    }
    .about-info {
        margin-left: 20px;
    }
    .team__inner {
        left: 33%;
    }
    .service__inner {
        left: 28%;
    }
    .client__inner {
        left: 14%;
    }
    .work__inner {
        left: 7%;
    }
    .testimonial__inner {
        left: 7%;
    }
    .contact form div{
        width: 200px;
    }
    .contact form input[type="submit"]{
        left: 50px;
    }
    .contact form div textarea{
        width: 425px;
    }
}

@media (max-width: 680px){
    .top-info__list li {
        left: 250px;
    }
    .about-images__box img {
        width: 300px;
        height: 300px;
    }
    .teams__photo {
        width: 107px;
        height: 107px;
    }
    .service-info__descr {
        margin-bottom: 70px
    }
    .services__photo {
        width: 100px;
        height: 100px;
    }
    .contact-info__descr {
        margin-left: 50px;
        margin-right: 50px;
    }
    .contact form {
        padding-left: 50px;
        padding-right: 50px;
    }
    .contact__inner {
        left: 28%;
    }
    .services__item {
        width: 36.5%;
        margin-top: 30px;
    }
    .service-info__descr {
        margin-bottom: 30px;
    }
    .top-info__title {
        line-height: 44px;
        margin-bottom: 35px;
    }
    .testimonial__inner {
        left: 4%;
        line-height: 44px; 
        max-width: 95%;               /*  =   pizdec */
    }

@media (max-width: 574px){
    .service__inner {
        left: 22%;
    }
    .team__inner {
        left: 30%;
    }
    .about {
        padding-top: 50px;
    }
    .works__item {
        width: 40%;
    }
    .testimonial-info__descr{
        margin-left: 0;
        margin-right: 0;
    }
    .contact-info__descr {
        margin-left: 5px;
        margin-right: 5px;
    }
    .contact form {
        padding-left: 5px;
        padding-right: 5px;
    }
    .top-info__list li {
        left: 200px;
    }
    .teams__item {
        width: 39%;
        margin-left: 40px;
        margin-top: 40px;
    }
    .team__inner {
        margin-bottom: 60px;
    }
    .about {
        padding-top: 70px;
    }
    .about-images {
        order: 2;
    }
    .about-images__box img {
        width: 360px;
        height: 330px;
    }
    .about__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-info {
        max-width: 100%;
        margin-bottom: 55px;
    }
}

@media (max-width: 488px){
    .top-info__list li {
        left: 160px;
    }
    .team__inner {
        left: 26%;
    }
    .service__inner {
        left: 18%;
    }
    .contact__inner {
        left: 15%;
    }
    .contact form div textarea{
        width: 385px;
    }
    .contact {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .contact form div{
        width: 180px;
    }
    .contact form input[type="submit"]{
        left: 30px;
    }
    footer .socials a::before {
        width: 1.5em;
    }
    .about {
        padding-top: 50px;
    }
    .service {
        padding-top: 50px;
    }
    .team {
        padding-top: 50px;
    }
    .client {
        padding-top: 50px;
    }
    .work {
        padding-top: 50px;
    }
    .testimonial {
        padding-top: 50px;
    }
    .contact {
        padding-top: 50px;
    }
}

@media (max-width: 450px){
    .top-info p {
        line-height: 28px;
    }
    .contact-info__descr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact form {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact form div{
        width: 150px;
    }
    .contact form div textarea{
        width: 325px;
    }
    .contact form input[type="submit"]{
        left: 35px;
        padding: 10px 45px;
    }
    .top-info__list li {
        left: 135px;
    }
    .service-info__descr {
        margin-bottom: 20px;
    }
}

@media (max-width: 429px){
    .service__inner {
        left: 12%;
    }
    .services__item {
        width: 76.5%;
    }
    .team__inner {
        left: 23%;
    }
    .teams__item {
        width: 80%;
    }
    .contact form div{
        width: 160px;
    }
    .contact form div textarea{
        width: 345px;
    }
    .contact form input[type="submit"]{
        left: 45px;
        padding: 10px 45px;
    }
    .top-info__list li {
        left: 130px;
    }
    img.logo_header {
        height: 30px;
    }
    img.logo_text {
        width: 190px;
    }
}

@media (max-width: 393px){
    .contact form div{
        width: 150px;
    }
    .contact form div textarea{
        width: 325px;
    }
    .contact form input[type="submit"]{
        left: 55px;
        padding: 10px 35px;
    }
    .top-info__list li {
        left: 105px;
    }
    .team__inner {
        left: 19%;
    }
    .service__inner {
        left: 7%;
    }
    .about-images__box img {
        width: 320px;
        height: 280px;
    }
}




@media (max-width: 378px){
    .contact__inner {
        left: 10%;
    }
    .contact form div{
        width: 305px;
    }
    .contact form div textarea{
        width: 305px;
    }
    .contact form input[type="submit"]{
        left: 210px;
        top: -70px;
        padding: 10px 35px;
    }
    .works__item {
        margin-left: 25px;
        margin-top: 5px;
    }
}

@media (max-width: 357px){
    .service__inner {
        left: 3%;
    }
    .team__inner {
        left: 15%;
    }
    .top-info__list li {
        left: 95px;
    }
    .works__item {
        width: 85%;
    }
    .contact__inner {
        left: 3%;
    }
    .contact-info__descr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact form {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact form div{
        width: 250px;
    }
    .contact form input[type="submit"]{
        left: 155px;
        top: -70px;
        padding: 10px 35px;
    }
    .contact form div textarea{
        width: 250px;
    }
    .about-info {
        margin-left: 10px;
    }
}

@media (max-width: 340px) {
    .about-images__box img {
        width: 300px;
        height: 260px;
    }
    .top-info__list li {
        left: 70px;
    }
    .service__inner {
        left: 1%;
    }
    .service__inner {
        left: 1%;
    }
}

@media (max-width: 322px){
    .services__item {
        width: 67.5%;
    }
    .service__inner {
        left: -2%;
    }
    .team__inner {
        left: 11%;
    }
    .teams__item {
        width: 74%;
    }
}

@media (min-width: 975px){
    .menu__list{
        display: flex !important;
    }
}