@media (max-width: 974px){
    .contact form div{
        width: 220px;
    }
    .contact form input[type="submit"]{
        left: 70px;
    }
    .contact form div textarea{
        width: 465px;
    }
    .menu__list li{
        margin-left: 0;
    }
    .menu__list{
        display: none;
        position: absolute;
        top: 115px;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fcac45; 
        z-index: 5;
        border-top: 1px solid #000;
    }
    .menu__list a{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #000;
       
    }

    .menu__btn{
        width: 30px;
        height: 30px;
        position: relative;
    }
    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 15px;
        position: absolute;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
    }
    .menu__btn::after{
        top: 0;
    }
    .menu__btn::before{
        bottom: 0;
    }
}




@media (min-width: 975px){
    .menu__list{
        display: flex !important;
    }
} 