@media (max-width: 1220px){
    .contact form div{
        width: 345px;
    }
    .contact form input[type="submit"]{
        left: 205px;
    }
}


@media (max-width: 1204px){
    .contact form div {
        width: 320px;
    }
    .contact form input[type="submit"]{
        left: 180px;
    }
    .about-info {
        margin-left: 90px;
    }
    .teams__item {
        width: 20%;
    }
    .services__item {
        width: 19.5%;
    }
    .works__item {
        width: 20%;
    }
}

@media (max-width: 1130px){
    .contact form div{
        width: 290px;
    }
    .contact form input[type="submit"]{
        left: 145px;
    }
}

@media (max-width: 1070px){
    .contact form div{
        width: 245px;
    }
    .contact form input[type="submit"]{
        left: 95px;
    }
}

@media (max-width: 992px){
    .about-info {
        margin-left: 45px;
        max-width: 345px;
    }
    .about-info__descr {
        margin-bottom: 20px;
    }
    .about-info h1{
        line-height: 50px;
    }
    .teams__item {
        width: 19%;
    }
    .service-info__descr{
        max-width: 930px;
    }
    .services__item{
        width: 17.5%;
    }
    .service__inner {
        left: 35%;
    }
    .teams__item {
        vertical-align: top;
    }
    .team__inner {
        left: 40%;
    }
    .client__inner {
        left: 25%;
    }
    .work__inner{
        left: 20%;
    }
    .work-info__descr{
        max-width: 930px;
        margin-bottom: 30px;
    }
    .works__item{
        width: 20%;
    }
    .about-images__box img {
        width: 500px;
        height: 350px;
        padding-left: 15px;
    }
    .testimonial__inner {
        left: 19%;
    }
    .contact__inner{
        left: 36%;
    }
    .contact form div {
        width: 250px;
        margin-left: 20px;
    }
    .contact-info__descr {
        margin-bottom: 50px;
    }
    .contact form div textarea{
        height: 170px;
        margin-top: 10px;
        width: 525px;
    }
    .contact form input[type="submit"]{
        left: 102px;
    }
}

@media (max-width: 974px){
    .contact form div{
        width: 220px;
    }
    .contact form input[type="submit"]{
        left: 70px;
    }
    .contact form div textarea{
        width: 465px;
    }
    .menu__list{
        display: none;
        position: absolute;
        top: 120px;
        width: 100%;
        left: 0;
        text-align: center;
        background-color: #fcac45;
    }
    .menu__list a{
        display: block;
        padding: 10px 0;
    }

    .menu__btn{
        width: 30px;
        height: 30px;
        position: relative;
    }
    .menu__btn span{
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 15px;
        position: absolute;
    }
    .menu__btn::after,
    .menu__btn::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
    }
    .menu__btn::after{
        top: 0;
    }
    .menu__btn::before{
        bottom: 0;
    }
}

@media (max-width: 915px){
    .contact-info__descr {
        margin-left: 100px;
        margin-right: 100px;
    }
    .contact form {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 717px){
    .contact form div{
        width: 200px;
    }
    .contact form input[type="submit"]{
        left: 50px;
    }
    .contact form div textarea{
        width: 425px;
    }
}

@media (max-width: 680px){
    .contact-info__descr {
        margin-left: 50px;
        margin-right: 50px;
    }
    .contact form {
        padding-left: 50px;
        padding-right: 50px;
    }
    .contact__inner {
        left: 28%;
    }
}

@media (max-width: 574px){
    .contact-info__descr {
        margin-left: 5px;
        margin-right: 5px;
    }
    .contact form {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 488px){
    .contact__inner {
        left: 15%;
    }
    .contact form div textarea{
        width: 385px;
    }
    .contact {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .contact form div{
        width: 180px;
    }
    .contact form input[type="submit"]{
        left: 30px;
    }
    footer .socials a::before {
        width: 1.5em;
    }
}

@media (max-width: 450px){
    .contact-info__descr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact form {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact form div{
        width: 150px;
    }
    .contact form div textarea{
        width: 325px;
    }
    .contact form input[type="submit"]{
        left: 35px;
        padding: 10px 45px;
    }
}

@media (max-width: 429px){
    .contact form div{
        width: 160px;
    }
    .contact form div textarea{
        width: 345px;
    }
    .contact form input[type="submit"]{
        left: 45px;
        padding: 10px 45px;
    }
}

@media (max-width: 393px){
    .contact form div{
        width: 150px;
    }
    .contact form div textarea{
        width: 325px;
    }
    .contact form input[type="submit"]{
        left: 55px;
        padding: 10px 35px;
    }
}




@media (max-width: 378px){
    .contact__inner {
        left: 10%;
    }
    .contact form div{
        width: 305px;
    }
    .contact form div textarea{
        width: 305px;
    }
    .contact form input[type="submit"]{
        left: 210px;
        top: -70px;
        padding: 10px 35px;
    }
}

@media (max-width: 357px){
    .contact__inner {
        left: 3%;
    }
    .contact-info__descr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact form {
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact form div{
        width: 250px;
    }
    .contact form input[type="submit"]{
        left: 155px;
        top: -70px;
        padding: 10px 35px;
    }
    .contact form div textarea{
        width: 250px;
    }
}



@media (min-width: 975px){
    .menu__list{
        display: flex !important;
    }
}