* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

/* HEADER */

header {
    background-color: black;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.header__inner a {
    outline-style: none;
}

.menu__list {
    display: flex;
}

.menu__list li {
    margin-left: 33px;
}

.menu__list li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    transition: color .2s linear;
    outline: none;
}

.menu__list li a:after {
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    background-color: #fcac45;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 1;
}

.menu__list li a:hover {
     color: #fcac45;
}

.menu__list li a:hover:after {
    display: block;
}

/* WELCOME */

.top {
    background-color: black;
    padding-top: 178px;
    padding-bottom: 140px;
}

.top-info {
    max-width: 734px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
}

.top-info p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #aeaeae;
    margin-bottom: 35px;
}

.top-info p span {
    color:#e2e2e2;
}

.top-info__title {
    color: #999999;
    font-weight: 300;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.top-info__title span{
    color: #fcac45;
    font-weight: 400;
    font-size: 44px;
}

.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}

.top-info__list li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 3px;
    color: #dadada;
    position: relative;
    padding-left: 32px;
    text-align: left;
    left: 300px;
}

.top-info__list li::before {
    content: "";
    background-image: url(../images/list-icon2.png);
    width: 21px;
    height: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    transition: background .1s linear, color .1s linear;
}

.top-info__btn:hover {
    background-color: #fff;
    color: black;
}

.top-info a {
    outline: none;
}

.top-info__btn-descr {
    color: #aeaeae;
    font-weight: 300;
}

/* ABOUT */

.about {
    background-color: #fff;
    padding-top: 135px;
    padding-bottom: 100px;
}

.about__inner {
    display: flex;
}

.about-info {
    order: 2;
    max-width: 450px;
    text-align: left;
    margin-left: 175px;
}

.about-info h1 {
    display: table;
    border-bottom: 4px solid #fcac45;
    line-height: 65px;
}

.about-info__title {
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-info__title span {
    font-size: 34px;
    font-weight: 700;
    line-height: 37px;
}

.about-info__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #6c6c6c;
    margin-bottom: 50px;
    display: block;
    word-break: break-word;
}
.about_info__list {
    list-style: none;
}

.about_info__list li {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    position: relative;
    padding-left: 25px;
}

.about_info__list li span {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: #5a5a5a;
    line-height: 30px;
    margin-bottom: 3px;
}

.about_info__list li::before {
    content: "";
    background-image: url(../images/about_circle-list.png);
    width: 14px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.about-images {
    order: 1;
}

/* OUR TEAM */

.team {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 167px;
}

.team__inner {
    display: inline-block;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    left: 41%;
    margin-right: -50%;
    margin-bottom: 110px;
    margin-top: 5px;
}

.team__inner h1:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fcac45;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 0;
}

.teams {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.teams__item {
    display: inline-block;
    width: 21%;
    background-color: black;
    text-align: center;
    margin-left: 44px;
    vertical-align: top;
}

.teams__photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    z-index: 1;
    margin-bottom: 20px;
}

.teams__name {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.teams__prof {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 35px;
}

.teams__text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

/* OUR SERVICES */
.service {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 102px;
}

.service__inner {
    display: inline-block;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    position: relative;
    left: 38%;
    margin-right: -50%;
    margin-bottom: 55px;
    margin-top: 5px;

}

.service-info__descr {
    text-align: center;
    margin-bottom: 105px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #6c6c6c;
}

.service__inner h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fcac45;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 0;
}

.services {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.services__item {
    display: inline-block;
    width: 20.5%;
    background-color: #fff;
    text-align: center;
    margin-left: 49px;
    vertical-align: top;

}

.services__photo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    z-index: 1;
    margin-bottom: 20px;
}

.services__name {
    font-size: 25px;
    font-weight: 600;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.services__text {
    font-size: 14px;
    color: #222222;
    font-weight: 400;
}

/* OUR CLIENTS */

.client {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 212px;
}

.client__inner {
    display: inline-block;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    left: 31%;
    margin-right: -50%;
    margin-bottom: 112px;
    margin-top: 5px;
}

.client__inner h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fcac45;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 0;
}

.clients {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.clients__item {
    display: inline-block;
    width: 19%;
    background-color: black;
    text-align: center;
}

.clients__photo {
    z-index: 3;
}

/* OUR WORK */

.work {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.work__inner {
    display: inline-block;
    font-size: 44px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222222;
    position: relative;
    left: 27%;
    margin-right: -50%;
    margin-bottom: 60px;
    margin-top: 5px;
}

.work-info__title span {
    color: black;
    font-weight: 600;
}

.work-info__descr {
    text-align: center;
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #6c6c6c;

}

.work__inner h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fcac45;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 0;
}

.works {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.works__item {
    display: inline-block;
    width: 22%;
    background-color: #fff;
    margin-left: 30px;
    margin-top: 15px;
    overflow: hidden;
}

.works__item img {
    transition: all 1s ease-out;
}

.works__item img:hover{
    transform: scale(1.1);
}

.works__photo {
    width: 263px;
    height: 237px;
    z-index: 1;
    margin-bottom: 20px;
}

/* OUR TESIMONIALS */

.testimonial {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 175px;
}

.testimonial__inner {
    display: inline-block;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    left: 25%;
    margin-right: -50%;
    margin-bottom: 115px;
    margin-top: 5px;
}

.testimonial__inner h1 span {
    color: #ffffff;
    font-weight: 300;

}

.testimonial__inner h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fcac45;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 0;
}

.testimonial-info__descr {
    text-align: center;
    margin-bottom: 51px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #e7e7e7;
    margin-left: 105px;
    margin-right: 105px;
    
}

.testimonial-info__initials {
    font-size: 18px;
    font-weight: 600;
    color: #b2b2b2;
    text-align: center;
}

.testimonial-info__initials span {
    font-weight: 300;
    color: #b2b2b2;
}

/* CONTACT US */

.contact {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact__inner {
    display: inline-block;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    position: relative;
    left: 38%;
    margin-right: -50%;
    margin-top: 5px;
}

.contact__inner h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fcac45;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.contact-info__descr {
    margin-top: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #6c6c6c;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    font-style: italic;
}

.contact form {
    padding-left: 200px;
    padding-right: 200px;
}

.contact form div {
    width: 365px;
    display: inline-block;
    margin-left: 28px;
}

.contact form div label {
    width: 50%;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
}

.contact form div label::after {
    content: " *";
    color: red;
}

.contact form div input {
    width: 100%;
    margin-top: 5px;
    height: 40px;
    border: 1px solid #999999;
    margin-bottom: 30px;
    text-indent: 5px;
}

.contact form input::placeholder {
    font-size: 14px;
    text-indent: 5px;
}

.contact form div textarea {
    height: 165px;
    width: 210%;
    font-size: 14px;
    margin-top: 5px;
    text-indent: 4px;
    resize: none;
    margin-bottom: 100px;
    border: 1px solid #999999;
}

.contact form div textarea::placeholder {
    font-size: 15px;
    text-indent: 4px;
}

.contact form input[type="submit"] {
    position: relative;
    top: 220px;
    color: #fff;
    text-transform: uppercase;
    background-color: #fcac45;
    border: none;
    padding: 15px 62px;
    font-weight: 600;
    left: 222px;
    transition: background .1s linear, color .1s linear;
}

.contact form input[type="submit"]:hover {
    color: black;
    background-color: #999999;
}

/* FOOTER */

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222222;
    position: relative;
    
}

footer .socials a {
    border: 0;
    font-size: 22pt;
    color: #b1b1b1;
    left: 50%;
    outline: none;
}

footer .socials {
    text-align: center;
}

footer .socials a::before {
    transition: all 0.2s ease-in-out;										
    display: block;
    text-align: center;
    width: 2.5em;
}

footer .socials a:hover {
    color: rgb(13, 105, 134);
}
